* {
  box-sizing: border-box;
}

:root {
  // colors
  --text-color: #2F281E;
  --gold: #D4C17F;
}

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 10px;
}